* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input {
  padding: 4px;
}

button {
  padding: 4px;
  cursor: pointer;
}